.navbar-custom {
    background-color: #00ABE4;
    font-weight: bold;
}

.navbar-brand {
    padding-left: 10px;
    font-weight: bold;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: x-large;
    text-decoration: none;
}

.navbar-brand .small-line {
    font-size: small;
    padding-left: 15px;
    font-weight: bold;
    font-family: initial;
}

.underline-text {
    /* text-decoration: underline; */
}

.card {
    border: 2px solid #000;
    width: 300px;
    margin: 5px;
    /* min-width: 280px; */
}

.card-body .card-subtitle {
    text-decoration: none !important;
    font-weight:lighter;
}

.card .card-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.card:hover .card-description {
    opacity: 1;
}

body {
    background-color: #E9F1FA;
    padding-top: 70px;
    /* padding-bottom: 50px; */
}

#section1 {
    margin-bottom: 50px;
}

#section2 {
    margin-bottom: 50px;
}

#section3 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.footer {
    background-color: #00ABE4;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    
}

.btn {
    margin-top: 10px;
}

.chad-facts {
    background-color: #00ABE4;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black; /* Add a border for the rectangle appearance */
    border-radius: 10; /* Remove the border-radius property */
  }